<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tab_export.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="test2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>		
    </configSections>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
	</appSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
    <userSettings>
        <Tab_export.Properties.Settings>
            <setting name="tab_prec" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="cell_prec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cell_po_centru" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cell_format" serializeAs="String">
                <value>True</value>
            </setting>
        </Tab_export.Properties.Settings>
        <test2.Properties.Settings>
            <setting name="fontSize_s" serializeAs="String">
                <value>0.22</value>
            </setting>
            <setting name="sdvig_s" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="naklon_s" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="strel2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rasstDoGeom" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="rasstDoToch" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="raznVisot" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="NaProekc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vozmNakl" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="podgon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sBazoi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sTochkoi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visota" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="otmetka" serializeAs="String">
                <value>3.0</value>
            </setting>
            <setting name="s_Granicei" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vopros" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="text_height" serializeAs="String">
                <value>0.22</value>
            </setting>
            <setting name="visota_dopusk" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="max_dopusk" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="gran" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="text_gran" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="rasst_do_ugla" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="sdvig" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="naklon" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="font_size" serializeAs="String">
                <value>0.22</value>
            </setting>
            <setting name="tolko_pari" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dopolnyat_pari" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tab_prec" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="cell_prec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cell_po_centru" serializeAs="String">
                <value>False</value>
            </setting>
        </test2.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>